.nav-superior{
    overflow:auto;
    position: relative;
    background-color: #F2D8AC;
}

.simbolo-logo{
    display: block;
    margin: 20px;
    max-height: 40px;
    max-width: 30px;
}
.local{
    max-height: 20px;
    max-width: 10px;
}

.nav-superior ul {
    list-style-type: none;
    overflow: hidden;
    padding:30px 30px;
}

.nav-superior li {
    float: right;
}

.nav-superior li a {
    font-family:"Century Gothic";
    color: #30322B;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.voltar a{
    display: block;
    text-align: left;
    font-family:"Century Gothic";
    text-decoration: none;
    color:#30322B;
    margin-left: 33%;

}
.container-fluid{
    background-color: #F2D8AC;
    padding-bottom: 40px;
    text-align: center;
    width:100%;
}
.form-horizontal{
    display: inline-block;
    position: relative;
    margin: 10px;
}

.botao-facebook{
    display: block;
    padding: 4px 15px;
    border-radius: 8px;
    background-color: #93A0E8;
    font-family:"Century Gothic";
    color: #ffff;
    text-align: center;

}
.facebook{
    max-height: 40px;
    max-width: 30px;
}
.form{
    padding: 8px;
}
.form-sub .submit{
    position: relative;
    display: inline-block;
    padding: 4px 15px;
    border-radius: 3px;
    font-family:"Century Gothic";
    text-align: left;
}
.footer{
    background-color: #55989B;
    position: relative;
}

.footer ul {
    list-style-type: none;
    overflow: auto;
    text-align: center;
}

.footer ul li{
    display: inline-block;
}
.footer li a {
    font-family:"Century Gothic";
    color: #30322B;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
}